<toolbar-two></toolbar-two>

<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-lg-8">
      <mat-card>
        <h3 *ngIf="post?.Resultado != true">
          <span *ngIf="idListaPrecios == 0">Crear</span>
          <span *ngIf="idListaPrecios != 0">Editar</span>
          Lista de Precios
        </h3>
        <form *ngIf="post?.Resultado != true" [formGroup]="myForm" novalidate (ngSubmit)="onSubmit(myForm.value)">
          <small *ngIf="post?.Repetido == true" class="form-text text-muted">Nombre de lista de precios existente</small>

          <div class="form-group">
            <label>Lista de Precios</label>
            <input type="text" formControlName="listaPrecios" class="form-control" [(ngModel)]="listaPrecios">
            <small *ngIf="myForm.get('listaPrecios')?.hasError('required') && submitted==true" class="form-text text-muted">
              Ingrese lista de precios</small>
          </div>

          <div class="form-group">
            <label>Porcentaje de Aumento/Descuento</label>
            <input type="number" formControlName="porcentajeAumento" class="form-control" [(ngModel)]="porcentajeAumento">
            <small *ngIf="myForm.get('porcentajeAumento')?.hasError('required') && submitted==true" class="form-text text-muted">
              Ingrese porcentaje aumento / descuento</small>
          </div>

          <div class="form-group">
            <label>Estado</label>

            <select formControlName="activo" class="form-control" [(ngModel)]="activo">
              <option value="">Seleccionar</option>
              <option value="true">Activo</option>
              <option value="false">Inactivo</option>
            </select>
            <small *ngIf="myForm.get('activo')?.hasError('required') && submitted==true" class="form-text text-muted">
              Ingrese estado</small>
          </div>

          <button type="submit" class="btn btn-warning">Guardar</button>
        </form>

      </mat-card>
    </div>
    <div class="col"></div>
  </div>
</div>
