<h1 mat-dialog-title style="margin: 0 !important;">Pago de Valores.</h1>
<h3 mat-dialog-title style="
    margin: 0 !important;
    font-size: .8rem;
    font-weight: bold;">ATENCI&Oacute;N.</h3>
<div mat-dialog-content>
  <p>Esta a punto de realizar una operaci&oacute;n de <span style="font-weight: bold;">Pago</span> de {{data.pedidosPendientes}} valor{{data.pedidosPendientes > 1? '/es' : ''}} por un total de ${{data.pedidosPendientesMonto}}</p>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Estado Pago</label>
        <!--    <select type="text" class="form-control" [(ngModel)]="estadoPago">-->
        <select type="text" class="form-control">
          <option *ngFor="let item of estadosPago" [ngValue]="item.Id">{{item.Valor}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Forma de Pago</label>
        <!--    <select class="form-control" [(ngModel)]="formaPago">-->
        <select type="text" class="form-control" [(ngModel)]="formaPagoModal">
          <option [ngValue]="null">Seleccionar</option>
          <option *ngFor="let item of fomasPago" [ngValue]="item.Id">{{item.Valor}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-3" *ngIf="formaPagoModal == 35">
      <div class="form-group">          
        <label>Nro Cheque</label> 
        <input type="text"  class="form-control"  [(ngModel)]="numeroCheque">          
      </div>      
    </div>
    <div class="col-md-3" *ngIf="formaPagoModal == 35">
      <div class="form-group">          
        <label>Importe Cheque</label> 
        <input type="number"  class="form-control"  [(ngModel)]="totalCheque">          
      </div>      
    </div>
    <div class="col-md-3" *ngIf="formaPagoModal == 35">
      <div (click)="fechaPedidoDatePickerCheque()" class="form-group">          
        <label>Vencimiento</label> 
        <input type="text"  class="form-control"   [(ngModel)]="vencimientoCheque" readonly>                                
      </div>
      
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button (click)="aceptar()" class="btn btn-primary">Confirmar</button>
  <button (click)="cancelar()" style="margin-right:10px;" class="btn btn-danger">Cancelar</button>
</div>
