<toolbar-two></toolbar-two>

<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-lg-8">
      <mat-card class="p-3">
        <h3 *ngIf="post?.Resultado != true">
          <span *ngIf="idCategoriaRubro == 0">Crear</span>
          <span *ngIf="idCategoriaRubro != 0">Editar</span>
          Categoría Rubro
        </h3>
        <form *ngIf="post?.Resultado != true" [formGroup]="myForm" novalidate (ngSubmit)="onSubmit(myForm.value)">
          <small *ngIf="post?.Repetido == true" class="form-text text-muted">Nombre de categoría rubro existente</small>

          <div class="form-group my-2">
            <label>Categoría Rubro</label>
            <input type="text" formControlName="categoriaRubro" class="form-control" [(ngModel)]="categoriaRubro">
            <small *ngIf="myForm.get('categoriaRubro')?.hasError('required') && submitted==true" class="form-text text-muted">
              Ingrese categoría rubro</small>
          </div>

          <div class="form-group my-2">
            <label>Estado Imagen</label>

            <select formControlName="imagenVisible" class="form-control" [(ngModel)]="imagenVisible">
              <option value="">Seleccionar</option>
              <option value="true">Visible</option>
              <option value="false">Invisible</option>
            </select>
            <small *ngIf="myForm.get('imagenVisible')?.hasError('required') && submitted==true" class="form-text text-muted">
              Ingrese estado imagen</small>
          </div>

          <div class="form-group my-2">
            <label>Estado</label>

            <select formControlName="activo" class="form-control" [(ngModel)]="activo">
              <option value="">Seleccionar</option>
              <option value="true">Activo</option>
              <option value="false">Inactivo</option>
            </select>
            <small *ngIf="myForm.get('activo')?.hasError('required') && submitted==true" class="form-text text-muted">
              Ingrese estado</small>
          </div>

          <div class="form-group my-2">
            <label>Eliminar</label>
            <select formControlName="eliminar" class="form-control" [(ngModel)]="eliminar">
              <option value="false">No</option>
              <option value="true">Si</option>
            </select>
            <small *ngIf="myForm.get('eliminar')?.hasError('required') && submitted==true" class="form-text text-muted">
              Complete este campo
            </small>
          </div>

          <button type="submit" class="btn btn-warning">Guardar</button>
        </form>

      </mat-card>
    </div>
    <div class="col"></div>
  </div>
</div>
