<toolbar-two (GetSucursalEmit)="getSucursalVendedor($event)"></toolbar-two>

<div class="container" *ngIf="roles?.FINANZAS == true || rolClienteNegotis == 'true'">
  <div class="row">
    <div class="col"></div>
    <div class="col-lg-8">
      <mat-card class="p-3">
        <h3 *ngIf="post?.Resultado != true">
          Estado de Cheque
        </h3>
        <form *ngIf="post?.Resultado != true" [formGroup]="myForm" novalidate (ngSubmit)="onSubmit(myForm.value)">
          <div class="form-group my-2">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group my-2">
                  <label>Nombre.</label>
                  <input type="text" class="form-control"
                         formControlName="descripcion" [(ngModel)]="model.descripcion">
                  <small class="form-text text-muted"
                         *ngIf="(myForm.get('descripcion')?.hasError('required')) && submitted==true">
                    Ingrese Nombre.
                  </small>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group my-2">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group my-2">
                  <label>Representa (Valor)</label>
                  <div>
                    <input type="radio" name="representaValor" value="0" formControlName="modificadorValor" [ngModel]="model.modificadorValor.toString()">
                    <span> - </span>
                    <span>{{strNingunMovimiento}}</span>
                  </div>
                  <div>
                    <input type="radio" name="representaValor" value="1" formControlName="modificadorValor" [ngModel]="model.modificadorValor.toString()">
                    <span> - </span>
                    <span>{{strIngreso}}</span>
                  </div>
                  <div>
                    <input type="radio" name="representaValor" value="-1" formControlName="modificadorValor" [ngModel]="model.modificadorValor.toString()">
                    <span> - </span>
                    <span>{{strEgreso}}</span>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group my-2">
                  <label>Representa (Efectivo)</label>
                  <div>
                    <input type="radio" name="representaEfectivo" value="0" formControlName="modificadorCaja" [ngModel]="model.modificadorCaja.toString()">
                    <span> - </span>
                    <span>{{strNingunMovimiento}}</span>
                  </div>
                  <div>
                    <input type="radio" name="representaEfectivo" value="1" formControlName="modificadorCaja" [ngModel]="model.modificadorCaja.toString()">
                    <span> - </span>
                    <span>{{strIngreso}}</span>
                  </div>
                  <div>
                    <input type="radio" name="representaEfectivo" value="-1" formControlName="modificadorCaja" [ngModel]="model.modificadorCaja.toString()">
                    <span> - </span>
                    <span>{{strEgreso}}</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group my-2">
                  <label>Tipo de Operacion</label>
                  <div>
                    <input type="radio" name="tipoOperacion" value=1 formControlName="tipoOperacion" [ngModel]="model.tipoOperacion.toString()">
                    <span> - </span>
                    <span>{{strCompra}}</span>
                  </div>
                  <div>
                    <input type="radio" name="tipoOperacion" value="2" formControlName="tipoOperacion" [ngModel]="model.tipoOperacion.toString()">
                    <span> - </span>
                    <span>{{strVenta}}</span>
                  </div>
                  <div>
                    <input type="radio" name="tipoOperacion" value="3" formControlName="tipoOperacion" [ngModel]="model.tipoOperacion.toString()">
                    <span> - </span>
                    <span>{{strCompraVenta}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn-warning">Guardar</button>
        </form>

      </mat-card>
    </div>
    <div class="col"></div>
  </div>
</div>
