<toolbar-two></toolbar-two>

<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-lg-8">
      <mat-card>
        <h3 *ngIf="post != true">
          Cambiar Contraseña
        </h3>
        <form *ngIf="post != true" [formGroup]="myForm" novalidate (ngSubmit)="onSubmit(myForm.value)">
          <small *ngIf="post == false" class="form-text text-muted">
            Error al actualizar
          </small>

          <div class="form-group">
            <label>Actual Contraseña</label>
            <input type="password" formControlName="vieja" class="form-control" [(ngModel)]="vieja">
            <small *ngIf="myForm.get('vieja')?.hasError('required') && submitted==true" class="form-text text-muted">
              Ingrese actual contraseña</small>
          </div>

          <div class="form-group">
            <label>Nueva Contraseña</label>
            <input type="password" formControlName="nueva" class="form-control" [(ngModel)]="nueva">
            <small *ngIf="myForm.get('nueva')?.hasError('required') && submitted==true" class="form-text text-muted">
              Ingrese nueva contraseña
            </small>
            <small *ngIf="(myForm.get('nueva')?.hasError('minlength') ||  myForm.get('nueva')?.hasError('maxlength')) && submitted==true"
            class="form-text text-muted">
            Mínimo 6 caracteres - Máximo 10 caracteres
          </small>
          </div>

          <div class="form-group">
            <label>Repita Nueva Contraseña</label>
            <input type="password" formControlName="repetirNueva" class="form-control" [(ngModel)]="repetirNueva">
            <small *ngIf="myForm.get('repetirNueva')?.hasError('required') && submitted==true" class="form-text text-muted">
              Ingrese nueva contraseña
            </small>
            <small *ngIf="nuevaViejaIguales == false && submitted==true" class="form-text text-muted">
              Las contraseñas no coinciden
            </small>
          </div>

          <button type="submit" class="btn btn-warning">Guardar</button>
        </form>

        <div *ngIf="post == true">
          <h3>Contraseña Editada Exitosamente</h3>
          <div class="pointer" (click)="volverEditar()">
            Volver a editar
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col"></div>
  </div>
</div>
