<h1 mat-dialog-title>
  Mensaje
</h1>
<div mat-dialog-content>
  ¿Desea generar ...?
</div>
<div class="actions" style="text-align: left;"  mat-dialog-actions >
  <div class="container">
    <div class="row">
      <div class=".col-md-4"><span (click)="cerrar()" class="btn btn-danger">No Imprimir (Esc)</span></div>
      <div class="w-100"></div>
    <div class=".col-md-3" *ngIf="tieneRolOcultarComprobante == false"><a target="_blank" href="{{globalServ?.urlApi}}/ApiPedido/get/Factura?idPedido={{data.idPedido}}&idClienteNegotis={{idClienteNegotis}}&ivaCheck={{ivaCheck}}&rolCE={{entregasCheck}}&token={{token}}" (click)="generar()" class="btn btn-warning">Comprobante (Enter)</a></div>
    <div class=".col-md-3" *ngIf="rolPC"><a target="_blank" href="{{globalServ?.urlApi}}/ApiPedido/get/Factura?idPedido={{data.idPedido}}&idClienteNegotis={{idClienteNegotis}}&rolPC={{rolPC}}&token={{token}}" (click)="generar()" class="btn btn-warning">Comprobante sin Precios</a></div>
    <div  *ngIf="tieneRolVisualizarImpresionBT" class=".col-md-3"><a target="_blank" href="{{globalServ?.urlApi}}/ApiPedido/get/Factura?idPedido={{data.idPedido}}&idClienteNegotis={{idClienteNegotis}}&is58mmPrinter=true&token={{token}}" (click)="generar()" class="btn btn-warning">Comprobante 58mm</a></div>
    <div  *ngIf="tieneRolVisualizarImpresionComandera" class=".col-md-3"><a target="_blank" href="{{globalServ?.urlApi}}/ApiPedido/get/Factura?idPedido={{data.idPedido}}&idClienteNegotis={{idClienteNegotis}}&is58mmComandera=true&token={{token}}" (click)="generar()" class="btn btn-warning">Comprobante 58mm Comandera</a></div>
    <div  *ngIf="tieneRolVisualizarImpresion80mm" class=".col-md-3"><a target="_blank" href="{{globalServ?.urlApi}}/ApiPedido/get/Factura?idPedido={{data.idPedido}}&idClienteNegotis={{idClienteNegotis}}&is80mmPrinter=true&token={{token}}" (click)="generar()" class="btn btn-warning">Comprobante 80mm</a></div>
    <div  *ngIf="tieneRolImprimirDuplicado" class=".col-md-3"><a target="_blank" href="{{globalServ?.urlApi}}/ApiPedido/Get/Pdf/Listado/Imprimir?pedidosCambiarEstadoIndices={{pedidosImprimir}}&idClienteNegotis={{idClienteNegotis}}&ivaCheck={{ivaCheck}}&rolCE={{entregasCheck}}&token={{token}}" (click)="generar()" class="btn btn-warning">Comprobante con Duplicado</a></div>
    <div  *ngIf="tieneRolImprimirUnificado" class=".col-md-3"><a target="_blank" href="{{globalServ?.urlApi}}/ApiPedido/Get/Pdf/Listado/Imprimir?pedidosCambiarEstadoIndices={{pedidosImprimir}}&idClienteNegotis={{idClienteNegotis}}&imprimirUnificado=true&ivaCheck={{ivaCheck}}&rolCE={{entregasCheck}}&token={{token}}" (click)="generar()" class="btn btn-warning">Comprobante Unificado</a></div>

    <div  *ngIf="imprimirDoble == false" class=".col-md-3"><a target="_blank" href="{{globalServ?.urlApi}}/ApiPedido/get/Factura?idPedido={{data.idPedido}}&idClienteNegotis={{idClienteNegotis}}&idUser={{idUser}}&ivaCheck={{ivaCheck}}&rolCE={{entregasCheck}}&remito=true&token={{token}}" (click)="generar()" class="btn btn-warning"><span >Imprimir Remito</span></a></div>
                                                                              
    <div  *ngIf="tieneRolImprimirEspejo" class=".col-md-3"><a target="_blank" href="{{globalServ?.urlApi}}/ApiPedido/Get/Pdf/Listado/Imprimir?pedidosCambiarEstadoIndices={{pedidosImprimir}}&idClienteNegotis={{idClienteNegotis}}&imprimirDuplicado=true&ivaCheck={{ivaCheck}}&rolCE={{entregasCheck}}&comprobanteEspejo={{true}}&token={{token}}" (click)="generar()" class="btn btn-warning"><span >Comprobante Espejo</span></a></div>
    <div  *ngIf="imprimirDoble" class=".col-md-3"><a target="_blank" href="{{globalServ?.urlApi}}/ApiPedido/Get/Pdf/Listado/Imprimir?pedidosCambiarEstadoIndices={{pedidosImprimir}}&idClienteNegotis={{idClienteNegotis}}&imprimirDuplicado=true&ivaCheck={{ivaCheck}}&rolCE={{entregasCheck}}&token={{token}}" (click)="generar()" class="btn btn-warning"><span >Imprimir Doble (Remito)</span></a></div>
    <div class=".col-md-6"><a #codigoBarras  *ngIf="data?.pedidoCerrado == true && tieneRolVisualizarImpresion80mm && tieneRolEsconderFacturaComandera == false" target="_blank" href="{{globalServ?.urlApi}}/ApiPedido/Get/Factura?idPedido={{data.idPedido}}&idClienteNegotis={{idClienteNegotis}}&generarFactAfip=true&is80mmPrinter=true&token={{token}}" (click)="aceptarAfip()" class="btn btn-primary">
      Factura Afip Comandera 80mm (F2)
    </a></div> 

    <div class="w-100"></div>
    <div class=".col-md-6" ><a *ngIf="data?.pedidoCerrado == true" target="_blank"  (click)="generarAfip()" class="btn btn-primary">
      {{tipoComprobante}} Afip
    </a></div>
    <div class=".col-md-6" ><a *ngIf="data?.pedidoCerrado == true && this.tieneRolWSPDF" target="_blank"  (click)="envioWS()" style="background-color:green;color: white;" class="btn btn-primary">
      {{tipoComprobante}} Via WhatsApp
    </a></div>
    <div class=".col-md-6"><a *ngIf="this.tipoComprobante == 'NC' " target="_blank" href="{{globalServ?.urlApi}}/ApiPedido/get/Factura?idPedido={{data.idPedido}}&idClienteNegotis={{idClienteNegotis}}&generarFactAfip=false&token={{token}}" (click)="generar()" class="btn btn-primary">
      NC Presupuesto
    </a></div>
    <div class=".col-md-6"><a *ngIf="this.tipoComprobante == 'ND' " target="_blank" href="{{globalServ?.urlApi}}/ApiPedido/get/Factura?idPedido={{data.idPedido}}&idClienteNegotis={{idClienteNegotis}}&generarFactAfip=false&token={{token}}" (click)="generar()" class="btn btn-primary">
      ND Presupuesto
    </a></div>
    <div class=".col-md-6" *ngIf="data?.pedidoCerrado == true && tieneRolEsconderFactura == false"><a target="_blank" href="{{globalServ?.urlApi}}/ApiPedido/Get/Pdf/Recibo?listaImprimir={{pedidosImprimirRecibo}}&idClienteNegotis={{idClienteNegotis}}&token={{token}}" class="btn btn-primary">
      Ver Recibo
     </a></div>

  </div>
</div>

</div>

