<table class="table">
    <thead>
      <tr>         
        <th scope="col" class="sticky">#</th>      
        <th scope="col" class="sticky">ArtÍculo</th>    
        <th scope="col" class="sticky">Marca</th>
        <th scope="col" class="sticky">Precio Costo</th>                           
        <th scope="col"  class="sticky" >Unidades</th>
        <th scope="col"  class="sticky" >Cantidad</th>
        <th scope="col" class="sticky">Rubro</th>
        <th scope="col"  class="sticky">Proveedor</th>
        <th scope="col" class="sticky">Categoría Rubro</th>          
        <th scope="col"  class="sticky">Estado</th> 
        <th scope="col" class="sticky">Código</th>         
      </tr>        
    </thead>
    <tbody  *ngFor="let item of listaMateriaPrimas; let i = index">
      <tr>         
        <th scope="row" >{{i+1}}</th>
        <td>{{item.nombre}}</td>          
        <td>{{item.Marca.Nombre}}</td>
        

        <td >
          {{item.PrecioCosto}}
        </td>          
        

        <td   class="cant-art">
          {{item.stock}}
          <span *ngIf="item.kilogramo == true">Kilogramo</span>
          <span *ngIf="item.unidad == true">Unidad</span>
          <span *ngIf="item.gramo == true">Gramos</span>
          <span *ngIf="item.metro == true">Metros</span>
        </td>             
        <td >
            {{item.cantidad}}
          </td>          
        <td >{{item.Rubro.Nombre}}</td>
        <td >{{item.Proveedor.Nombre}}</td>
        <td >{{item.Rubro.CategoriaRubro.Nombre}}</td>
        <td >
          <span *ngIf="item.Activo == true">Activo</span>
          <span *ngIf="item.Activo != true">Inactivo</span>
        </td>

        <td >
          {{item.CodigoDeBarras}}
        </td>

      </tr>
    </tbody>
  </table>
  <div mat-dialog-actions>
    <button (click)="cerrar()" class="btn btn-danger">Volver</button>
  </div>