<toolbar-two></toolbar-two>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-box">
            <a  style="color: black" routerLink="/cliente/zona/panel">
                <mat-card class="box pointer p-3">
                    Zona
                </mat-card>
            </a>
        </div>
        <div class="col-md-4 col-box">
            <a style="color: black " routerLink="/cliente/region/panel">
                <mat-card class="box pointer p-3">
                    Region
                </mat-card>
            </a>
        </div>
        <div class="col-md-4 col-box">
            <a style="color: black " routerLink="/cliente/ruta/panel">
                <mat-card class="box pointer p-3">
                    Ruta
                </mat-card>
            </a>
        </div>
    </div>
</div>
