<toolbar-two></toolbar-two>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-box">
            <a routerLink="/cliente/zona/panel">
                <mat-card class="box pointer">
                    Zona
                </mat-card>
            </a>
        </div>
        <div class="col-md-4 col-box">
            <a routerLink="/cliente/region/panel">
                <mat-card class="box pointer">
                    Region
                </mat-card>
            </a>
        </div>
        <div class="col-md-4 col-box">
            <a routerLink="/cliente/ruta/panel">
                <mat-card class="box pointer">
                    Ruta
                </mat-card>
            </a>
        </div>
    </div>
</div>