<toolbar-two></toolbar-two>

<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-lg-8">
      <mat-card>
        <h3 *ngIf="post?.Resultado != true">
          <span *ngIf="idRuta == 0">Crear</span>
          <span *ngIf="idRuta != 0">Editar</span>
          Ruta
        </h3>
        <form *ngIf="post?.Resultado != true" [formGroup]="myForm" novalidate (ngSubmit)="onSubmit(myForm.value)">
          <div class="form-group">
            <label>Ruta</label>
            <input type="text" formControlName="ruta" class="form-control" [(ngModel)]="ruta">
            <small *ngIf="myForm.get('ruta')?.hasError('required') && submitted==true" class="form-text text-muted">
              Ingrese ruta</small>
          </div>

          <button type="submit" class="btn btn-warning">Guardar</button>
        </form>

      </mat-card>
    </div>
    <div class="col"></div>
  </div>
</div>
