<div mat-dialog-content>
  <div>
    Reset Password
  </div>
  <div style="margin-top:25px;margin-bottom:25px;">
    <label *ngIf="post != true">
      <div>
        Nombres: {{data.nombres}}
      </div>
      <div>
        Apellidos: {{data.apellidos}}
      </div>
      <div>
        User Name: {{data.userName}}
      </div>
    </label>
    <label *ngIf="post == true">
      Contraseña Reseteada Exitosamente
      <div>Nueva Contraseña: Aa123789</div>
    </label>
  </div>
</div>
<div mat-dialog-actions>
  <button *ngIf="post != true" (click)="cancelar()" style="margin-right:10px;" class="btn btn-danger">Cancelar</button>
  <button *ngIf="post != true" (click)="resetPassword()" class="btn btn-warning">Reset
    Password</button>
  <button *ngIf="post == true" (click)="cancelar()" class="btn btn-success">Aceptar</button>
</div>