<toolbar-two></toolbar-two>

<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-lg-8">
      <mat-card>
        <h3 *ngIf="postUser?.Resultado != true">
          <span *ngIf="idUser == null">Registrar</span>
          <span *ngIf="idUser != null">Editar</span>
          Usuario
        </h3>
        <form *ngIf="postUser?.Resultado != true" [formGroup]="myForm" novalidate (ngSubmit)="onSubmit(myForm.value)">
          <small *ngIf="postUser?.Resultado == false" class="form-text text-muted">Nombre de usuario existente en el sistema, intente con otro.</small>
          <div class="form-group">
            <label>Nombre de usuario</label>
            <input type="email" formControlName="userName" class="form-control" placeholder="Email"
              [(ngModel)]="userName">
            <small *ngIf="(myForm.get('userName')?.hasError('required') || myForm.get('userName')?.hasError('email')) && submitted==true"
              class="form-text text-muted">Ingrese email</small>
          </div>
          <div class="form-group">
            <label>Nombres</label>
            <input type="text" formControlName="nombres" class="form-control" [(ngModel)]="nombres">
            <small *ngIf="myForm.get('nombres')?.hasError('required') && submitted==true" class="form-text text-muted">
              Ingrese nombres</small>
          </div>

          <div class="form-group">
            <label>Apellidos</label>
            <input type="text" formControlName="apellidos" class="form-control" [(ngModel)]="apellidos">
            <small *ngIf="myForm.get('apellidos')?.hasError('required') && submitted==true" class="form-text text-muted">
              Ingrese apellidos</small>
          </div>

          <div class="form-group">
            <label>CUIL</label>
            <input type="number" formControlName="cuil" class="form-control" [(ngModel)]="cuil">
            <small *ngIf="myForm.get('cuil')?.hasError('pattern') && submitted==true" class="form-text text-muted">
              Ingrese solo números</small>
          </div>

          <div class="form-group">
            <label>Teléfono</label>
            <input type="number" formControlName="telefono" class="form-control" [(ngModel)]="telefono">
          </div>

          <div class="form-group">
            <label>Porcentaje Comisión</label>
            <input type="number" formControlName="porcentajeComision" class="form-control" [(ngModel)]="porcentajeComision">
            <small *ngIf="(myForm.get('porcentajeComision')?.hasError('pattern') || myForm.get('porcentajeComision')?.hasError('required'))&& submitted==true"
              class="form-text text-muted">
              Ingrese porcentaje de comisión mayor o igual a 0</small>
          </div>

          <div class="form-group">
            <label>Objetivo</label>
            <input type="number" formControlName="objetivo" class="form-control" [(ngModel)]="objetivo">
          </div>

          <div class="form-group">
            <label>Rol</label>
            <select formControlName="idRol" class="form-control" [(ngModel)]="idRol">
              <option value="">Seleccionar</option>
              <option *ngFor="let item of rolList" value="{{item?.Id}}">{{item?.Name}}</option>
            </select>
            <small *ngIf="myForm.get('idRol')?.hasError('required') && submitted==true" class="form-text text-muted">
              Ingrese rol</small>
          </div>

          <div class="form-group">
            <label>Seleccionar Sucursal</label>
            <div>
              <div *ngFor="let item of sucursalList?.ListSucursal;let i=index" style="margin-left:10px">
                <div (click)="selectSucursal(item.Id)" *ngIf="item?.seleccionar == null" class="sucursal" [ngClass]="{'active-select':item?.seleccionar}">
                  {{item.Calle}} {{item.Numero}} {{item.Barrio}}
                </div>
                <div (click)="eliminarSucursal(item.Id)" *ngIf="item?.seleccionar == true" class="sucursal" [ngClass]="{'active-select':item?.seleccionar}">
                  {{item.Calle}} {{item.Numero}} {{item.Barrio}}
                </div>
              </div>
            </div>
            <small *ngIf="idSucursalSelected.length == 0 && submitted==true" class="form-text text-muted">
              Ingrese sucursal/es</small>
          </div>

          <div class="form-group">
            <label>Cliente</label>
            <input (keyup)="resetCliente()" [matAutocomplete]="autoClient" class="form-control"
                   formControlName="cliente" [(ngModel)]="cliente" (ngModelChange)="filtrarCliente()">
            <mat-autocomplete #autoClient="matAutocomplete">
              <mat-option (click)="getCliente(item)" *ngFor="let item of clienteList" [value]="item.Id">
                <span>{{item.RazonSocial}}</span>
              </mat-option>
            </mat-autocomplete>
            <small *ngIf="idCliente == null && submitted == true" class="form-text text-muted">
              Ingrese cliente
            </small>
          </div>

          <button type="submit" class="btn btn-warning">Guardar</button>
          <small *ngIf="idUser == null" class="form-text text-muted">Contraseña por default: Aa123789</small>
        </form>

      </mat-card>
    </div>
    <div class="col"></div>
  </div>
</div>
