.cant-art{
    cursor:pointer; 
    color: rgb(57, 57, 252);
}

.iva{
    transform: scale(2.0);
    margin-top: 10px;
    margin-left: 5px;
}

.pdf-btn{
    margin-bottom: 10px;
}

.pdf-btn2{
    margin-bottom: 10px;
}
.sticky{
    position: sticky;
    top: 0;
    background-color: white;
  }

.table{
    height: 120vh;
    width: 265vh;
}

@media only screen and (min-width:1025px) {
    /* For mobile phones: */
    .container{
        position: absolute;
        left: 30px;
    }
  }
