<h1 mat-dialog-title style="margin: 0 !important;">Facturas de Pagos.
  <div mat-dialog-actions>
    <button (click)="cerrar()" class="btn btn-primary">Cerrar</button>
  </div>
</h1>
<h3 mat-dialog-title style="
    margin: 0 !important;
    font-size: .8rem;
    font-weight: bold;">Id Pedido</h3>
<div mat-dialog-content style="height: 300px !important;">

  <div class="row" *ngFor="let item of data.pedidosPendientesPagados">
    <div class="col-6">
      <div class="form-group" >
        <label>{{item.Id}}</label>
      </div>
    </div>
    <div class="col-6"><a target="_blank" href="{{globalServ?.urlApi}}/ApiPedido/get/Factura?idPedido={{item.Id}}&idClienteNegotis={{idClienteNegotis}}&token={{token}}" class="btn btn-primary">
     Ver Factura
    </a></div>
  </div>

 
  <div class="col-6"><a target="_blank" href="{{globalServ?.urlApi}}/ApiPedido/Get/Pdf/Recibo?listaImprimir={{pedidosCambiarEstadoIndices}}&idClienteNegotis={{idClienteNegotis}}&token={{token}}&retencion={{retencion}}" class="btn btn-primary">
    Ver Recibo
   </a></div>
   <div class="col-6">
    <span>Retencion</span>
    <br>
    <input type="number" class="col-6" [(ngModel)]="retencion">
   </div>
   
</div>

