<toolbar-two></toolbar-two>

<div class="container">
  <h3 class="title">
    Categoría Gasto Panel
  </h3>
  <div class="row">
    <div class="col-md-4">
      <a style="color: black" [routerLink]="['/cliente/categoria/gasto/crear']">
        <mat-card class="pointer p-3">
          Agregar Categoría
        </mat-card>
      </a>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
  </div>
  <!--filtro-->
  <div class="margin-filtro"></div>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Filtro
    </mat-expansion-panel-header>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label>Categoría Gasto</label>
          <input type="text" class="form-control" [(ngModel)]="filtroNombre" [formControl]="catCtrl">
        </div>
      </div>
    </div>
    <mat-action-row>
      <button (click)="limpiar()" class="btn btn-secondary btn-limpiard">Limpiar</button>
      <button (click)="buscar()" class="btn btn-warning">Buscar</button>
    </mat-action-row>
  </mat-expansion-panel>
  <div>
    <!--tabla-->
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">*</th>
          <th scope="col">*</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of listadoGasto; let i = index">
        <tr>
          <th scope="row">{{i+1}}</th>
          <td>{{item.Nombre}}</td>
          <td><a routerLink="/cliente/categoria/gasto/editar/{{item.Id}}"><span class="pointer">Editar</span></a></td>
          <td><span (click)="delete(item)" class="fas fa-trash-alt pointer"></span></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
