<!-- *ngIf="this.reporteModel.listaArticulos != undefined" -->

<h1 mat-dialog-title>{{titulo}}</h1>
            <div class="chartjs-container" >
              here it comes the cart
<!--                <canvas baseChart -->
<!--                    [datasets]="lineChartData"                     -->
<!--                    [options]="lineChartOptions"                   -->
<!--                    [legend]="lineChartLegend" -->
<!--                    [chartType]="lineChartType" -->
<!--                    [plugins]="lineChartPlugins"-->
<!--                    (chartHover)="chartHovered($event)" -->
<!--                    (chartClick)="chartClicked($event)">-->
<!--                </canvas>-->
            </div>

            <div class="row">
                <div class=".col-md-4"><span (click)="cancelar()" class="btn btn-danger">Cerrar</span></div>
                <div class="w-100"></div>
              <div class="w-100"></div>
            </div>
