<toolbar-two></toolbar-two>

<div class="container" >
    <h3 class="title">
        Reportes Panel
    </h3>
    <!--<div class="row" *ngIf="modificarProductosHabilitado">
        <div class="col-md-4 col-box">
            <a style=color: black [routerLink]="['/cliente/reportes/comision/panel']">
                <mat-card class="box pointer p-3">
                    Comisiones
                </mat-card>
            </a>
        </div>
    </div>-->
    <div class="row">
        <div class="col-md-4 col-box">
            <a style="color: black" [routerLink]="['/cliente/reportes/consolidado/panel']">
                <mat-card class="box pointer p-3">
                    Consolidado - Ventas
                </mat-card>
            </a>
        </div>
    </div>
    <div class="row" *ngIf="produccionHabilitado">
        <div class="col-md-4 col-box">
            <a style="color: black" [routerLink]="['/cliente/reportes/consolidadoMP/panel']">
                <mat-card class="box pointer p-3">
                    Consolidado Materia Prima
                </mat-card>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-box">
            <a style="color: black" [routerLink]="['/cliente/reportes/alarma-stock/panel']">
                <mat-card class="box pointer p-3">
                    Alarma de Stock
                </mat-card>
            </a>
        </div>
    </div>
    <div class="row"  *ngIf="tieneRolVencimiento">
        <div class="col-md-4 col-box">
            <a style="color: black" [routerLink]="['/cliente/reportes/vencimiento-stock/panel']">
                <mat-card class="box pointer p-3">
                    Vencimiento Stock
                </mat-card>
            </a>
        </div>
    </div>
    <div class="row" >
        <div class="col-md-4 col-box">
            <a style="color: black" [routerLink]="['/cliente/reportes/vencimiento-oferta/panel']">
                <mat-card class="box pointer p-3">
                    Vencimiento Oferta
                </mat-card>
            </a>
        </div>
    </div>
    <div class="row" >
        <div class="col-md-4 col-box">
            <a style="color: black" [routerLink]="['/cliente/reportes/rank-clientes/panel']">
                <mat-card class="box pointer p-3">
                    Ranking Clientes
                </mat-card>
            </a>
        </div>
    </div>
    <div class="row" *ngIf="tieneRolLibros">
        <div class="col-md-4 col-box">
            <a style="color: black" [routerLink]="['/cliente/reportes/libro-ventas/panel']">
                <mat-card class="box pointer p-3">
                    Libro Ventas
                </mat-card>
            </a>
        </div>
    </div>
    <div class="row" *ngIf="tieneRolLibros">
        <div class="col-md-4 col-box">
            <a style="color: black" [routerLink]="['/cliente/reportes/libro-compras/panel']">
                <mat-card class="box pointer p-3">
                    Libro Compras
                </mat-card>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-box">
            <a style="color: black" [routerLink]="['/cliente/reportes/cuentas/panel']">
                <mat-card class="box pointer p-3">
                    Reporte Cuentas
                </mat-card>
            </a>
        </div>
    </div>
</div>
