<toolbar-two></toolbar-two>

<div class="container">
  <h3 class="title">
    Panel Turnos
  </h3>
  <div class="row">
    <div class="col-md-4">
      <a [routerLink]="['/cliente/usuario/turno/crear']">
        <mat-card class="pointer">
          Agregar Turno
        </mat-card>
      </a>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
  </div>
  <div>
    <!--tabla-->
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">*</th>
          <th scope="col">*</th>

        </tr>
      </thead>
      <tbody *ngFor="let item of post; let i = index">
        <tr>
          <th scope="row">{{i+1}}</th>
          <td>{{item.Nombre}}</td>             
           <td><a routerLink="/cliente/usuario/turno/editar/{{item.Id}}"><span class="pointer">Editar</span></a></td>
          <td><span (click)="delete(item)" class="fas fa-trash-alt pointer"></span></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>