<toolbar-two></toolbar-two>

<div class="container">
  <h3 class="title">
    Marca Panel
  </h3>
  <div class="row">
    <div class="col-md-4">
      <a [routerLink]="['/cliente/marca/crear']">
        <mat-card class="pointer">
          Agregar Marca
        </mat-card>
      </a>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
  </div>
  <!--filtro-->
  <div class="margin-filtro"></div>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Filtro
    </mat-expansion-panel-header>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label>Marca</label>
          <input type="text" class="form-control" [(ngModel)]="marcaFiltro" [matAutocomplete]="autoNombre"
            [formControl]="nombreCtrl">
          <mat-autocomplete #autoNombre="matAutocomplete">
            <mat-option *ngFor="let item of filteredNombre | async" [value]="item.Nombre">
              <span>{{item.Nombre}}</span>
            </mat-option>
          </mat-autocomplete>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label>Estado</label>
          <select class="form-control" [(ngModel)]="estadoFiltro">
            <option value="true">Activo</option>
            <option value="false">Inactivo</option>            
          </select>
        </div>
      </div>
    </div>
    <mat-action-row>
      <button (click)="limpiar()" class="btn btn-secondary btn-limpiard">Limpiar</button>
      <button (click)="buscar()" class="btn btn-warning">Buscar</button>
    </mat-action-row>
  </mat-expansion-panel>
  <div>
    <!--tabla-->
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Marca</th>
          <th scope="col">*</th>
          <th scope="col">*</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of listadoMarcas; let i = index">
        <tr>
          <th scope="row">{{i+1}}</th>
          <td>{{item.Nombre}}</td>
          <td *ngIf="item.Activo == true">Activo</td>
          <td *ngIf="item.Activo == false">Inactivo</td> 
          <td *ngIf="item.Activo == null">Sin Asignar</td> 
          <td><a routerLink="/cliente/marca/editar/{{item.Id}}"><span class="pointer">Editar</span></a></td>
          <td><span (click)="delete(item)" class="fas fa-trash-alt pointer"></span></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>